name: Build Windows EXE

on:
  push:

jobs:
  build:
    runs-on: windows-2019

    steps:
      - uses: actions/checkout@v3

      - name: Setup Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.22'

      - name: Install Dependencies
        run: |
          go mod tidy

      - name: Build
        run: |
          go build -ldflags "-s -w" -o program.exe

      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: program
          path: program.exe
